@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width:  37.5em) { // 600px
      @content
    };
  }
  @if $breakpoint == tabPort {
    @media only screen and (max-width:  56.25em) { // 900px
      @content
    };
  }
  @if $breakpoint == customMedium {
    @media only screen and (max-width: 62.5em) { // 1000px
      @content
    };
  }
  @if $breakpoint == tabLand {
    @media only screen and (max-width:  75em) { // 1200px
      @content
    };
  }
  @if $breakpoint == bigDesktop {
    @media only screen and (min-width:  112.5em) { // 1800px
      @content
    };
  }
}