$lightBrown: #c69963;
$darkBrown: #b28451;
$darkBlue: #101d2c;
$brighttGrey: #f9f7f6;
$lightGrey: #aaa;
$darkGrey: #54483a;
$darkerGrey: #6d5d4b;

$primaryFont: 'Nunito', sans-serif;
$secondaryFont: 'Josefin Sans', sans-serif;
