$lightBrown: #c69963;
$darkBrown: #b28451;
$darkBlue: #101d2c;
$brighttGrey: #f9f7f6;
$lightGrey: #aaa;
$darkGrey: #54483a;
$darkerGrey: #6d5d4b;

$primaryFont: 'Nunito', sans-serif;
$secondaryFont: 'Josefin Sans', sans-serif;

%heading {
  font-family: $secondaryFont;
  font-weight: 400;
}

// $marginBottomSmall: 2rem;
// $marginBottomMedium: 3rem;
// $marginBottomLarge: 4rem;
// $marginBottomHuge: 8rem;

.mb-small {
  margin-bottom: 2rem;
}

.mb-medium {
  margin-bottom: 3rem;
}

.mb-large {
  margin-bottom: 4rem;
}

.mb-huge {
  margin-bottom: 8rem;
}