.header {
  background: $darkGrey;
  background-image: linear-gradient(rgba($darkBlue, .93), rgba($darkBlue, .93)), url(../img/hero.jpeg);
  background-size: cover;
  background-position: center;
  padding: 8rem;
  padding-top: 4rem;
  display: grid;
  grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
  grid-template-columns: minmax(min-content, max-content);
  grid-column: full-start / col-end 6;
  grid-row-gap: 1.5rem;
  justify-content: center;
  @include respond(customSmall) {
   grid-column: 1 / -1; 
  }
  @include respond(phone) {
    padding: 5rem;
  }
  &-logo {
    height: 3rem;
    justify-self: center;
  }
  &-btn {
    align-self: start;
    justify-self: start;
  }
  &-seenon-text {
    font-size: 1.6rem;
    color: $darkGrey;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: 1.5rem;
    align-items: center;
    &::before,
    &::after {
      content: "";
      height: 1px;
      display: block;
      background: currentColor;
    }
  }
  &-seenon-logo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 3rem;
    justify-items: center;
    align-items: center;
    img {
      max-height: 2.5rem;
      max-width: 100%;
      filter: brightness(70%);
    }
  }
}