.story {
  &-pictures {
    background: $lightBrown;
    grid-column: full-start / col-end 4;
  }
  &-content {
    background: $brighttGrey;
    grid-column: col-start 5 / full-end;
    padding: 6rem 8vw;
    display: grid;
    align-content: center;
    justify-items: start;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: flex-start;
  }
  &-text {
    font-size: 1.5rem;
    font-style: italic;
    margin-bottom: 4rem;
  }
}