.heading-1 {
  @extend %heading;
}

.heading-2 {
  @extend %heading;
  font-size: 4.5rem;
  font-style: italic;
  line-height: 1;
  &-light {
    color: $brighttGrey;
  }
  &-dark {
    color: $darkerGrey;
  }
}

.heading-3 {
  @extend %heading;
  font-size: 1.6rem;
  color: $lightBrown;
  text-transform: uppercase;
}

.heading-4 {
  @extend %heading;
  font-size: 1.9rem;
  &-light {
    color: $brighttGrey;
  }
  &-dark {
    color: $darkerGrey;
  }
}